.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1rem;
}

.modal-content {
  background: #1e293b;
  width: 100%;
  max-width: 450px;
  padding: 2rem;
  border-radius: 16px;
   border: 1px solid var(--primary-glow);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  animation: modalFadeIn 0.3s ease-out;
}

@keyframes modalFadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.modal-header h2 {
  margin: 0;
  color:  var(--primary-color);
  font-size: 1.5rem;
}

.close-x {
  background: none;
  border: none;
 color:  var(--primary-color);
  font-size: 2rem;
  cursor: pointer;
}
.close-x:hover{
    color: red;
}

.modal-actions {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.cancel-btn {
  flex: 1;
  background: transparent;
  border: 1px solid var(--primary-color);
  color: #94a3b8;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-btn:hover{
     border: 1px solid  var(--primary-color);
     color: white;
}

.confirm-btn {
  flex: 2;
  background: var(--primary-color);
  color: #0f172a;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.confirm-btn:hover {
  background: var(--primary-color);
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.4);
}

/* Make sure select dropdown looks clean */
select {
  width: 100%;
  padding: 0.8rem;
  background: #0f172a;
  border: 1px solid #334155;
  color: white;
  border-radius: 8px;
  margin-top: 0.5rem;
}
label{
    margin-top: 20px;
}