.filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
  overflow-x: auto; /* Scrollable on mobile */
  padding-bottom: 5px;
}

.filter-pill {
  background: var(--primary-color);
  border: 1px solid var(--primary-glow);
  color: #0f172a;
  padding: 6px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  transition: 0.3s;
  white-space: nowrap;
}

.filter-pill:hover {
  border: 1px solid var(--primary-glow);
  color: #0f172a;
}

.filter-pill.active {
  background: var(--primary-color);
  color: #0f172a;
  border: 1px solid var(--primary-glow);
 box-shadow: 0 4px 15px var(--primary-glow)
}